#windansea-image-container {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
}

.windansea-images {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background-image: url('/images/windansea/2012-12-02.jpg');
}
