<nav>
  <div class="nav-header">
    <a href="/"><h2>Ryan Fisher</h2></a>
    <h5>Software Engineer, Hacker, Hobbyist Photographer, Couch Philosopher</h5>
  </div>
  <ul>
    <li><a href="/articles" class="articles">Articles</a></li>
    <li><a href="/profile" class="profile">Profile</a></li>
    <li><a href="/projects" class="projects">Projects</a></li>
    <li><a href="https://github.com/ryanfisher" target="_blank">Code</a></li>
    <li><a href="http://500px.com/ryanf" target="_blank">Photography</a></li>
  </ul>
</nav>
