$main-blue: #03406a;

nav {
  margin: 40px auto 0;
  background-color: white;

  .nav-header {
    display: inline-block;

    h2, h5 {
      font-weight: 100;
      display: block;
      margin: 0;
    }

    h2 {
      color: $main-blue;
      font-size: 30px;
    }

    h5 {
      font-size: 8px;
      display: none;
    }
  }

  ul {
    margin: 0 0 0 30px;
    padding-left: 0;
    list-style: none;
    text-align: center;
    display: inline-block;
  }

  li {
    display: inline-block;
  }

  li + li:before {
    content: '';
    margin-right: 12px;
  }

  ul a {
    display: inline-block;
    font-size: 18px;
    height: 100%;
    padding-bottom: 3px;
    transition: all 0.3s;

    &:link, &:visited {
      border-bottom: 3px solid transparent;
      text-decoration: none;
      color: $main-blue;
      font-weight: 500;
    }
    &:hover, &:active {
      padding-bottom: 0;
      border-bottom: 3px solid orange;
    }
  }
}
