$main-blue: #03406a;

nav {
  position: absolute;
  top: 0;
  left: 0;

  .nav-header {
    margin: 20px;
  }
}

.post-container {
  margin: 0 auto;
  padding: 0 40px;
  text-align: left;
  max-width: 700px;

  h1 {
    color: $main-blue;
    font-size: 40px;
  }
}
