@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

//= require normalize

body {
  font-family: 'Cutive Mono', serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  width: 430px;
  margin: 10px auto;
  font-size: 60px;
  font-weight: 100;
  color: #03406a;
}

ul {
  width: 430px;
  margin: 0 auto;
  padding-left: 10px;
  list-style: none;
  text-align: left;
}

a:link, a:visited {
  text-decoration: none;
  color: #03406a;
  font-weight: 500;
}

a:hover, a:active {
  background-color: #DDD;
}

#terminal {
  display: none;
  width: 400px;
  margin: 10px auto;
  padding-left: 10px;
  text-align: left;
}

#terminal-input {
  word-wrap: break-word;
}

#prompt {
  display: inline-block;
  background-color: white;
  width: 10px;
  height: 20px;
  vertical-align: top;
}

#prompt.cursor {
  background-color: black;
}
