@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

//= require normalize

body {
  font-family: 'Cutive Mono', serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  width: 430px;
  margin: 10px auto;
  font-size: 60px;
  font-weight: 100;
  color: #03406a;
}

ul {
  width: 430px;
  margin: 0 auto;
  padding-left: 10px;
  list-style: none;
  text-align: left;
}

a:link, a:visited {
  text-decoration: none;
  color: #03406a;
  font-weight: 500;
}

a:hover, a:active {
  background-color: #DDD;
}

#projects {
  width: 800px;
  margin: 0 auto;
  font-weight: 100;
  color: #444;

  h2 {
    font-weight: 100;
    text-transform: lowercase;
    margin-bottom: 10px;
  }
}

.project {
  padding-bottom: 20px;

  .header {
    text-align: left;
    background-color: #333;
    color: white;

    img {
      width: 380px;
      vertical-align: top;
    }

    .info {
      display: inline-block;
      text-align: left;
      margin: 10px;
      width: 380px;

      a:link, a:visited {
        color: #82BFE9;
        border-bottom: 1px solid transparent;
      }

      a:hover, a:active {
        background-color: inherit;
        border-bottom: 1px solid #82BFE9;
      }

      h3 {
        font-weight: 100;
        margin: 0;
      }

      .technology {
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }

  .description { text-align: left; }
}
