@import url(http://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans:300);

//= require normalize

$main-blue: #03406a;

body {
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
}

nav {
  border-bottom: 1px solid #ccc;
  text-align: left;
  margin-top: -58px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;

  .nav-header {
    display: inline-block;
    margin-left: 20px;
    padding: 0 13px;
    position: relative;
    top: 35px;
    background-color: $main-blue;
    line-height: 1;
    border-radius: 0 0 20px 20px;
    height: 90px;
    -webkit-transition: top 1s;
    transition: top 1s;
    &.up {
      top: -100px;
    }

    h2, h5 {
      font-weight: 100;
      display: block;
      margin: 0;
    }

    h2 {
      color: white;
      font-size: 30px;
      margin-top: 38px;
    }

    h5 {
      font-size: 8px;
      display: none;
    }
  }

  ul {
    margin: 0 0 0 30px;
    padding-left: 0;
    list-style: none;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
  }

  li {
    display: inline-block;
  }

  li + li:before {
    content: '';
    margin-right: 12px;
  }

  ul a {
    display: inline-block;
    font-size: 18px;
    height: 100%;

    &:link, &:visited {
      border-bottom: 3px solid transparent;
      text-decoration: none;
      color: $main-blue;
      font-weight: 500;
    }
    &:hover, &:active {
      border-bottom: 3px solid orange;
    }
  }
}

h1 {
  width: 430px;
  margin: 10px auto;
  font-size: 60px;
  color: $main-blue;
}

#projects {
  width: 800px;
  margin: 0 auto;
  font-weight: 100;
  color: #444;
  max-width: 100%;

  h2 {
    font-family: "Open Sans";
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  a {
    font-size: 18px;
  }
}

#main-content {
  margin-top: 40px;
}

.project {
  padding-bottom: 20px;

  .header {
    text-align: left;
    background-color: #333;
    color: white;

    img {
      width: 380px;
      vertical-align: top;
    }

    .info {
      display: inline-block;
      text-align: left;
      margin: 10px;
      width: 380px;

      .dates {
        float: right;
        margin: 0;
        font-size: 12px;
        text-transform: lowercase;
      }

      a:link, a:visited {
        color: #82BFE9;
        border-bottom: 1px solid transparent;
      }

      a:hover, a:active {
        background-color: inherit;
        border-bottom: 1px solid #82BFE9;
      }

      h3 {
        font-weight: 300;
        margin: 0;
      }

      .technology {
        font-size: 16px;
        margin-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  .description {
    text-align: left;
  }
}

@media all and (max-width: 826px) and (min-width: 601px) {
  .project .header {
    img { max-width: 45%; }
    .info { max-width: 45%; }
  }
}

@media all and (max-width: 600px) {
  .project .header {
    img { width: 100%; }
    .info {
      display: block;
      width: inherit;
    }
  }
}
