@import url(http://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans:300);

//= require normalize

body {
  font-family: 'Cutive Mono', serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  width: 430px;
  margin: 10px auto;
  font-size: 60px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #03406a;
}

ul {
  width: 430px;
  margin: 0 auto;
  padding-left: 10px;
  list-style: none;
  text-align: left;
}

a:link, a:visited {
  text-decoration: none;
  color: #03406a;
  font-weight: 500;
}

a:hover, a:active {
  background-color: #DDD;
}

#projects {
  width: 800px;
  margin: 0 auto;
  font-weight: 100;
  color: #444;
  max-width: 100%;

  h2 {
    font-family: "Open Sans";
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  a {
    font-size: 18px;
  }
}

.project {
  padding-bottom: 20px;

  .header {
    text-align: left;
    background-color: #333;
    color: white;

    img {
      width: 380px;
      vertical-align: top;
    }

    .info {
      display: inline-block;
      text-align: left;
      margin: 10px;
      width: 380px;

      .dates {
        float: right;
        margin: 0;
        font-size: 12px;
        text-transform: lowercase;
      }

      a:link, a:visited {
        color: #82BFE9;
        border-bottom: 1px solid transparent;
      }

      a:hover, a:active {
        background-color: inherit;
        border-bottom: 1px solid #82BFE9;
      }

      h3 {
        font-family: "Open Sans";
        font-weight: 300;
        margin: 0;
      }

      .technology {
        font-size: 16px;
        margin-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  .description {
    text-align: left;
    font-family: "Open Sans";
  }
}

@media all and (max-width: 826px) and (min-width: 601px) {
  .project .header {
    img { max-width: 45%; }
    .info { max-width: 45%; }
  }
}

@media all and (max-width: 600px) {
  .project .header {
    img { width: 100%; }
    .info {
      display: block;
      width: inherit;
    }
  }
}
