<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{{ page.body_class }}">

<div id="bio-content">
  <h1>Ryan Fisher</h1>
  <ul>
    <li>Code: <a class="github" href="https://github.com/ryanfisher">github</a></li>
    <li>Tweets: <a class="twitter" href="https://twitter.com/ryan_fisher">twitter</a></li>
    <li>Photogaphy: <a class="photos" href="http://photos.ryanfisher.io/photos">photos</a>, <a class="500px" href="http://500px.com/ryanf">500px</a>, <a class="flickr" href="https://www.flickr.com/photos/curiositypiqued/">flickr</a>
  </ul>
</div>
<div id="article-list">
</div>

</body>
</html>
